.contend{
    display: flex;
    position: relative;
    padding:1px;
    margin-top: 40px;
}
.contenedor{
    width:80vw;
    height:80vh;
    margin-right:10px;
    background:white;
    color:white;
}
.Form_Contend{
    width:20vw;
    height:400px;
    display:flex;
    justify-content:center;
    align-items:center
}
.label{
    color:black
}
.Button_Guardar{
    border-radius:5px;
    background:green;
    color:white;
    padding:5px 11px;
    margin-top:20px;
    margin-right:18px;
}
.Button_Cancelar{
    border-radius:5px;
    background:red;
    color:white;
    padding:5px 11px;
    margin-top:20px;
}
.contenedor_Form{
    width:315px;
}
.input_Form{
    width:190px;
    color:gray;
}
.button_Eliminar{
    color:red;   
}
.button_Edit{
    color:hsl(249, 78%, 26%);   
}
.button_Editar{

    color:white;   
}
.button_crear{
    border-radius:5px;
    background: hsl(249, 78%, 26%);
    color:white;
    padding:5px 11px;
    margin:3px
}
.contenedor_busqueda{
    width:90vw;
    height:10vh;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding:2px 15px;
    background-color: white;
    position: relative;
    top: 25px;
}

.contenedor_bus{
    width:90vw;
    height:10vh;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding:2px 15px;
    background-color: white; 
    position: relative;
    top: 25px;

}
.img{
    width: 70px;
    height: 70px;
}
.label_busqueda{
    margin-right:14px
}
.form{
    width: 400px;
    height: 70px;
    position: absolute;
    top: 5px;
    left: 140px;
    border-left: 2px solid green;
    padding-left: 20px;
}

.form1{
    width: 80vw;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 140px;
    display: flex;
}

.buscar{
    background-color: transparent;
    border-bottom: 1px solid hsl(223, 73%, 43%) ;
}
.contenedor_res0{
    width:460px;
    height: 25px;
    border-left: 2px solid hsl(249, 78%, 26%);   
    padding-left: 10px;
}

.contenedor_res{
    width:250px;
    height: 25px;
    position: absolute;
    top:0px;
    left:50vw;
    border-left: 2px solid hsl(249, 78%, 26%);   
    padding-left: 10px;
}

.contenedor_res1{
    width:250px;
    height: 25px;
    position: absolute;
    top:0px;
    left:25vw;
    border-left: 2px solid hsl(249, 78%, 26%);
    padding-left: 10px;
}

.conten_res{
    width:250px;
}
.conten_res label{
    margin-left:10px;
}

.Table_BD{
    width:70vw;
    height:60vh;
    background:white;
    margin-top:5px;
    margin-left:67px;
    overflow-y: auto;
    overflow-x:hidden;
}
.contend_table{
    width:70vw;
    height:60vh;
    background-color: white; 

}


.warning-modal{
    background:gray;
    width:26vw;
    height:20vh;
    position:absolute;
    top:40vh;
    left:37vw;
    border-radius:10px
}

.warning-modal p{
    text-align:center;
    color:green;
    margin-top:40px
}
.warning-modal input{
    background-color:transparent;
    border-bottom:2px solid green;
    margin-left:90px;
}
.warning-modal button{
    background:red;
    color:white;
    padding:1px 5px;
    border-radius:3px ;
    position:absolute;
    top:5px;
    right:5px;
}
table tbody tr td {
    text-align:center;
}


@media (max-width: 480px) {


.contenedor_bus{
    width:96vw;
    height:11vh;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding:2px 15px;
    background-color: white; 
    position: relative;
    top: 0px;
}
.img{
    width: 35px;
    height:70px;
}
.label_busqueda{
    margin-right:14px;
    font-size:10px;
}

.form1{
    width: 50vw;
    height: 40px;
    position:absolute;
    display: flex;
}

.buscar{
    background-color: transparent;
    border-bottom: 1px solid hsl(223, 73%, 43%) ;
    font-size:10px;
}
.contenedor_res0{
    width:250px;
    height: 25px;
    border-left: 2px solid hsl(249, 78%, 26%);   
    position:absolute;
    top:-20px;
    left:-65px;
    color:black;
    z-index:9999;
}

.contenedor_res{
    width:250px;
    height: 25px;
    border-left: 2px solid hsl(249, 78%, 26%);   
    position:absolute;
    top:7px;
    left:-65px;
    color:black;
    z-index:9999;
}

.contenedor_res1{
    width:250px;
    height: 25px;
    border-left: 2px solid hsl(249, 78%, 26%);
    position:absolute;
    top:35px;
    left:-65px;
    color:balck;
    z-index:9998;
}


.contend{
    display: flex;
    position: relative;
    top:-60px;
}

.contenedor_Form{
    width:300px;
    padding-left:20vw
}

.label{
    color:black;
    font-size:11px;
}

.contenedor_Form{
    width:315px;
}
.input_Form{
    width:190px;
    color:gray;
    font-size:11px;
}

.button_crear{
    border-radius:5px;
    background: hsl(249, 78%, 26%);
    color:white;
    padding:5px 11px;
    margin:3px;
    font-size:10px
}


.Table_BD {
    width: 94vw;
    margin: 20px auto 0 auto;
    height: auto; /* Evitar altura fija */
    overflow-x: auto; /* Scroll horizontal */
    overflow-y: auto;
    position:absolute;
    top:45vh
}

.contend_table {
    width: max-content; /* Ajusta al contenido */
    min-width: 100%; /* Ocupa al menos todo el ancho */
    border-collapse: collapse;
}

.contend_table th,
.contend_table td {
    font-size: 10px; /* Texto más pequeño */
    padding: 4px;
    text-align: center;
}

.contend {
    flex-direction: column; /* Apila formulario y tabla */
    align-items: center;
    gap: 10px;
}

.contenedor_busqueda{
    width:90vw;
    height:10vh;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding:2px 15px;
    background-color: white;
    position: relative;
    top: 0px;
}

}





